#lists_container{
  list-style: none;
  overflow: auto;
  white-space: nowrap;
  li{
    vertical-align: top;
  }
}

.list{
  border: 1px solid #bbb;
  border-radius: 4px;
  margin-bottom: 20px;
  min-height: 500px;
  width: 300px;
}

.list-header{
  background-color: #ccc;
  border-bottom: 1px #aaa solid;
  padding: 5px;
  position: relative;
  h3{
    margin: 0;
  }
}

.list-actions{
  display: inline-block;
  position: absolute;
  right: 5px;
  top: 10px;
}

.ui-state-highlight {
  background-color: #c5e8fc;
  border: 1px #3e9bc0 dotted;
  height: 500px;
  vertical-align: top;
  width: 100px;
}
