.tasks-container{
  list-style: none;
  padding: 0;
  > .ui-state-highlight {
    background-color: #c5e8fc;
    border: 1px #3e9bc0 dotted;
    padding: 15px 5px;
  }

}

.task-item{
  border: 1px solid #aaa!important;
  padding: 15px 5px;
}

.task-details-part {
  margin-bottom: 10px;
  margin-top: 5px;
}

.color-select {
  display: block;
  width: 100%;
}
