=form_for :board, method: :create, url: board_from_organization_path(@organization) do |f|
  .form-group
    =f.label :title, 'Title'
    =f.text_field :title
  =f.submit 'Create', class: 'btn btn-default'
