=form_for @organization do |f|
  .form-group
    =f.label :name, 'Name'
    =f.text_field :name, class: 'form-control'
  .form-group
    =f.label :public, 'Public'
    =f.check_box :public, class: 'form-control checkbox'
  =f.submit 'Create', class: 'btn btn-default'
