%h2 User dashboard
%hr
.box
  %h4.inline Your projects:
  %a{ href: '#', data: { target: "#addBoardModal", toggle: "modal" }}
    Add project
    %i.icon.ion-plus-circled
  #boards_container
    - @boards.each do |board|
      = render 'boards/board_item', board: board

=render 'add_board_modal'
