%h2 User dashboard
%hr
.box
  %h4.inline Your projects:
  %a{ href: '#', data: { target: "#addBoardModal", toggle: "modal" }}
    Add project
    %i.icon.ion-plus-circled
  #boards_container
    - @boards.each do |board|
      = render 'boards/board_item', board: board
.box
  %h4.inline Organization invitations:
  %br
  -@invitations.each do |invitation|
    =invitation.organization.name
    .pull-right
      =link_to 'Accept', accept_organization_invitation_path(invitation), method: :post
      =link_to 'Reject', reject_organization_invitation_path(invitation), method: :post

=render 'add_board_modal'
