%h2 User dashboard
%hr
.box
  %h4.inline Your projects:
  %a{ href: '#', data: { target: "#addBoardModal", toggle: "modal" }}
    Add project
    %i.icon.ion-plus-circled
  #boards_container
    - @boards.each do |board|
      .board
        = link_to board.title, board_path(board)
        .pull-right
          lists:
          = board.list_count
          |
          cards:
          = board.card_count
          = link_to board_path(board), method: :delete, confirm: 'Are you sure?', class: 'btn btn-danger btn-xs' do
            %i.glyphicon.glyphicon-trash

=render 'add_board_modal'
